<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Omar Alkhalili</title>
		<link rel="icon" type="image/png" href="images/favicon.ico">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="/js/script.js"></script>
	</head>
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		<div id="page">
			<header>
				<nav class="navbar-inverse navbar-fixed-top container-fluid">
					<ul class="nav navbar-nav">
						<li><a href="#page">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#skills">Skills</a></li>
						<li><a href="#resume">Resume</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</header>
			<div id="content">
				<article class="jumbotron text-center container-fluid">
					<h1>Welcome to my world</h1> </article>
				<article id="about" class="container-fluid bg-1 text-left content-section">
					<div class="col-md-3 col-md-offset-2"> <img src="images/profile.jpeg" class="img-circle slideanim" alt="Profile Picture" title="Omar's Profile Picture" /> </div>
					<section id="about-text" class="col-md-4 col-md-offset-1 slideanim">
						<div class="row">
							<h2 class="text-center">About</h2>
							<p>Hi, my name is <strong>Omar Alkhalili</strong> and I am a <strong>Technology Professional</strong> based in New York City with experience working in the <strong>digital advertising</strong>, <strong>enterprise software</strong>, <strong>education</strong> and <strong>non-profit</strong> industries. I am passionately interested in advancing my technical skills and created this website to highlight my proficiency with web technologies.</p>
							<p>This website was built with:</p>
						</div>
						<div class="row">
							<section id="about-tech-list" class="col-md-6">
								<ul>
									<li>HTML5</li>
									<li>CSS</li>
									<li>Bootstrap</li>
									<li>JavaScript</li>
								</ul>
							</section>
							<section id="about-tech-list" class="col-md-6">
								<ul>
									<li>jQuery</li>
									<li>Java</li>
									<li>Spring Boot</li>
									<li>Heroku</li>
								</ul>
							</section>
						</div>
					</section>
				</article>
				<article id="skills" class="content-section">
					<div class="slideanim">
						<div id="skills-list" class="text-center">
							<h2>Skills</h2>
							<p>I am an expert in or am extremely knowledgeable of:</p>
							<br/>
							<button type="button" class="btn btn-success">HTML5</button>
							<button type="button" class="btn btn-success">CSS</button>
							<button type="button" class="btn btn-success">Bootstrap</button>
							<button type="button" class="btn btn-success">JavaScript</button>
							<button type="button" class="btn btn-success">jQuery</button>
							<button type="button" class="btn btn-success">Java</button>
							<button type="button" class="btn btn-success">Maven</button>
							<button type="button" class="btn btn-success">Selenium Web Driver</button>
							<button type="button" class="btn btn-success">JUnit</button>
							<button type="button" class="btn btn-success">TestNG</button>
							<button type="button" class="btn btn-success">QA Test Automation</button>
							<button type="button" class="btn btn-success">Manual QA Testing</button>
							<button type="button" class="btn btn-success">Chrome/Firefix Developer Tools</button>
							<button type="button" class="btn btn-success">Fiddler Web Debugging Proxy</button>
							<button type="button" class="btn btn-success">Client Technical Support</button>
							<br/><br/><br/>
							<p>I am knowledgeable of and competent with:</p>	
							<br/>
							<button type="button" class="btn btn-primary">Cyber Security Fundamentals (CompTIA Security+ certified)</button>	
							<button type="button" class="btn btn-primary">SQL</button>
							<button type="button" class="btn btn-primary">MySQL</button>
							<button type="button" class="btn btn-primary">Jenkins</button>
							<button type="button" class="btn btn-primary">Linux</button>
							<button type="button" class="btn btn-primary">Amazon Web Services (AWS)</button>
							<button type="button" class="btn btn-primary">Microsoft SharePoint (Microsoft Office Specialist certified)</button>
							<button type="button" class="btn btn-primary">Microsoft SQL Server</button>
							<button type="button" class="btn btn-primary">Git</button>
							<button type="button" class="btn btn-primary">Agile Software Development</button>
							<button type="button" class="btn btn-primary">JIRA</button>
							<button type="button" class="btn btn-primary">Confluence</button>
							<button type="button" class="btn btn-primary">WordPress</button>
							<button type="button" class="btn btn-primary">BrowserStack</button>
							<br/><br/><br/>
							<p>I have dabbled with:</p>
							<br/>
							<button type="button" class="btn btn-info">React</button>
							<button type="button" class="btn btn-info">Vue.js</button>
							<button type="button" class="btn btn-info">npm</button>
							<button type="button" class="btn btn-info">Node.js</button>
							<button type="button" class="btn btn-info">Spring Boot</button>
							<button type="button" class="btn btn-info">PHP</button>
							<button type="button" class="btn btn-info">Laravel.js</button>
							<button type="button" class="btn btn-info">R</button>
							<button type="button" class="btn btn-info">Database Schema Design</button>
						</div>
					</div>
				</article>
				<article id="resume" class="text-center content-section">
					<div class="slideanim">
						<h2>Resume</h2>
						<p>See the most recent version of my resume below:</p>
						<div id="resume-thumbnail" class="text-center col-md-4 col-md-offset-4 custom-thumbnail">
							<a href="/Omar%20Alkhalili's%20Resume.pdf" target="_blank"> <span id="resume-thumbnail-glyphicon" class="glyphicon glyphicon-list-alt"></span></a>
						</div>
					</div>
				</article>
				<article id="contact" class="text-center content-section">
					<div class="slideanim">
						<h2>Contact</h2>
						<p>Feel free to contact me by email or through my LinkedIn.com profile:</p>
						<div id="email-thumbnail" class="text-center col-md-4 col-md-offset-1 custom-thumbnail">
							<h3 id="email-text">omaralkha@gmail.com</h3> <span id="email-thumbnail-glyphicon" class="glyphicon glyphicon-envelope"></span> </div>
						<div id="linkedin-thumbnail" class="text-center col-md-4 col-md-offset-2 custom-thumbnail">
							<a href="https://www.linkedin.com/pub/omar-alkhalili/48/740/30/" target="_blank">
								<h3>LinkedIn</h3> <span id="linkedin-thumbnail-glyphicon" class="glyphicon glyphicon-user"></span> </a>
						</div>
					</div>
				</article>
			</div>
			<footer class="text-center"></footer>
		</div>
	</body>
</html>